In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime as dt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline

# Analysis of premier league season 2018/2019

In [2]:
pld = pd.read_csv('season-1819_csv.csv')
pld

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,...,2.31,22,-1.50,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,E0,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,...,2.95,21,-2.00,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,E0,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,...,2.29,22,-1.50,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,E0,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,...,2.07,19,-0.50,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,E0,12/05/2019,Watford,West Ham,1,4,A,0,2,A,...,2.44,19,-0.50,2.25,2.19,1.78,1.72,2.11,3.86,3.41

In [3]:
pld.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,...,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.568421,1.252632,0.678947,0.573684,14.134211,11.144737,4.778947,3.928947,10.152632,10.305263,...,2.126895,20.736842,-0.327632,2.025184,1.962447,2.002395,1.942053,3.332974,4.576342,5.620132
std,1.312836,1.180031,0.860802,0.766958,5.855371,4.654002,2.677686,2.283982,3.293532,3.503707,...,0.467750,1.571249,1.056248,0.247373,0.230633,0.226581,0.215442,3.137394,2.019487,5.779454
min,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,...,1.450000,17.000000,-3.000000,1.550000,1.500000,1.440000,1.400000,1.070000,2.930000,1.120000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,8.000000,3.000000,2.000000,8.000000,8.000000,...,1.797500,20.000000,-1.000000,1.830000,1.787500,1.817500,1.770000,1.595000,3.410000,2.335000
50%,1.000000,1.000000,0.000000,0.000000,14.000000,11.000000,5.000000,4.000000,10.000000,10.000000,...,2.030000,21.000000,-0.250000,2.000000,1.930000,1.995000,1.940000,2.350000,3.765000,3.415000
75%,2.000000,2.000000,1.000000,1.000000,18.000000,14.000000,6.000000,5.250000,12.000000,13.000000,...,2.330000,22.000000,0.250000,2.190000,2.120000,2.152500,2.092500,3.380000,4.842500,6.565000
max,6.000000,6.000000,4.000000,3.000000,36.000000,25.000000,14.000000,12.000000,23.000000,21.000000,...,4.170000,24.000000,2.500000,3.150000,3.010000,2.770000,2.650000,24.770000,14.920000,36.050000

In [4]:
pld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 62 columns):
Div         380 non-null object
Date        380 non-null object
HomeTeam    380 non-null object
AwayTeam    380 non-null object
FTHG        380 non-null int64
FTAG        380 non-null int64
FTR         380 non-null object
HTHG        380 non-null int64
HTAG        380 non-null int64
HTR         380 non-null object
Referee     380 non-null object
HS          380 non-null int64
AS          380 non-null int64
HST         380 non-null int64
AST         380 non-null int64
HF          380 non-null int64
AF          380 non-null int64
HC          380 non-null int64
AC          380 non-null int64
HY          380 non-null int64
AY          380 non-null int64
HR          380 non-null int64
AR          380 non-null int64
B365H       380 non-null float64
B365D       380 non-null float64
B365A       380 non-null float64
BWH         380 non-null float64
BWD         380 non-null float64
BWA         380 non-null float64
IWH         380 non-null float64
IWD         380 non-null float64
IWA         380 non-null float64
PSH         380 non-null float64
PSD         380 non-null float64
PSA         380 non-null float64
WHH         380 non-null float64
WHD         380 non-null float64
WHA         380 non-null float64
VCH         380 non-null float64
VCD         380 non-null float64
VCA         380 non-null float64
Bb1X2       380 non-null int64
BbMxH       380 non-null float64
BbAvH       380 non-null float64
BbMxD       380 non-null float64
BbAvD       380 non-null float64
BbMxA       380 non-null float64
BbAvA       380 non-null float64
BbOU        380 non-null int64
BbMx>2.5    380 non-null float64
BbAv>2.5    380 non-null float64
BbMx<2.5    380 non-null float64
BbAv<2.5    380 non-null float64
BbAH        380 non-null int64
BbAHh       380 non-null float64
BbMxAHH     380 non-null float64
BbAvAHH     380 non-null float64
BbMxAHA     380 non-null float64
BbAvAHA     380 non-null float64
PSCH        380 non-null float64
PSCD        380 non-null float64
PSCA        380 non-null float64
dtypes: float64(36), int64(19), object(7)
memory usage: 184.2+ KB

In [5]:
pld.columns[0:10]

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR'],
      dtype='object')

Showing the total number of goals scored by the teams in all of their 38 matchday weeks

In [56]:
def get_goals_scored(stat):
    # Create a dictionary with team names as keys
    teams = {}
    teams1 = {}
    for i in stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(stat)):
        HGS = stat.iloc[i]['FTHG']
        AGS = stat.iloc[i]['FTAG']
        teams[stat.iloc[i].HomeTeam].append(HGS)
        teams[stat.iloc[i].AwayTeam].append(AGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored.sort_values(38,ascending=False)


get_goals_scored(pld)

,1,2,3,4,5,6,7,8,9,10,...,30,31,32,33,34,35,36,37,38,0
Man City,2,8,9,11,14,19,21,21,26,27,...,79,81,83,86,87,89,90,91,95,0
Liverpool,4,6,7,9,11,14,15,15,16,20,...,68,70,72,75,77,79,84,87,89,0
Arsenal,0,2,5,8,10,12,14,19,22,24,...,63,65,65,66,68,69,69,70,73,0
Tottenham,2,5,8,9,10,12,14,15,16,16,...,57,58,60,64,64,65,65,65,67,0
Man United,2,4,4,6,8,9,10,13,15,17,...,58,60,61,63,63,63,64,65,65,0
Chelsea,3,6,8,10,14,14,15,18,20,24,...,50,52,55,57,57,59,60,63,63,0
Bournemouth,2,4,6,6,10,10,12,16,16,19,...,41,43,43,44,49,49,52,53,56,0
Everton,2,4,6,7,8,8,11,13,15,16,...,41,43,45,46,46,50,50,52,54,0
West Ham,0,1,2,2,5,5,8,8,8,9,...,37,41,41,41,42,44,45,48,52,0
Watford,2,5,7,9,10,11,11,11,13,16,...,42,43,47,47,49,50,51,51,52,0
Leicester,1,3,5,6,8,11,13,14,15,16,...,38,40,42,46,46,48,51,51,51,0
Crystal Palace,2,2,3,3,4,4,5,5,5,7,...,36,38,38,39,40,43,43,46,51,0
Wolves,2,2,3,4,5,6,8,9,9,9,...,38,38,40,41,41,44,46,47,47,0
Southampton,0,1,2,4,6,6,6,6,6,6,...,34,35,36,39,40,41,44,44,45,0
Burnley,0,1,3,3,3,7,9,10,10,10,...,34,35,37,40,42,44,44,44,45,0
Newcastle,1,1,2,3,4,4,4,6,6,6,...,29,31,31,31,32,35,36,38,42,0
Brighton,0,3,3,5,7,8,8,9,10,11,...,32,32,32,32,32,32,33,34,35,0
Fulham,0,1,5,7,7,8,8,9,11,11,...,28,29,29,30,32,33,34,34,34,0
Cardiff,0,0,0,2,3,3,4,4,8,9,...,27,28,28,28,30,30,30,32,34,0
Huddersfield,0,1,1,2,2,3,3,4,4,4,...,15,18,18,19,19,20,20,21,22,0

Here As we can see that Manchester City is the team that scored the most goals in the 2018/19 season.
And Huddersfield scored the least number of goals.

# Results of  Matches where the home team scored the highest goals in a game

In [59]:
pld.groupby('HomeTeam').max()

,Div,Date,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
HomeTeam,,,,,,,,,,
Arsenal,E0,29/09/2018,Wolves,5,3,H,2,2,H,S Attwell
Bournemouth,E0,30/01/2019,Wolves,4,4,H,3,3,H,S Hooper
Brighton,E0,30/03/2019,Wolves,3,5,H,3,2,H,S Hooper
Burnley,E0,30/12/2018,Wolves,4,5,H,2,3,H,S Attwell
Cardiff,E0,31/03/2019,Wolves,4,5,H,2,3,H,S Hooper
Chelsea,E0,29/09/2018,Wolves,5,2,H,2,2,H,P Tierney
Crystal Palace,E0,30/12/2018,Wolves,5,3,H,3,1,H,R East
Everton,E0,29/09/2018,Wolves,4,6,H,2,3,H,S Attwell
Fulham,E0,30/03/2019,Wolves,4,5,H,3,2,H,P Tierney
Huddersfield,E0,29/09/2018,Wolves,1,4,H,1,2,H,S Attwell
Leicester,E0,30/03/2019,Wolves,3,4,H,2,2,H,S Hooper
Liverpool,E0,31/03/2019,Wolves,5,3,H,4,1,H,S Attwell
Man City,E0,29/09/2018,Wolves,6,3,H,4,2,H,S Attwell
Man United,E0,30/12/2018,Wolves,4,3,H,3,2,H,S Attwell
Newcastle,E0,29/09/2018,Wolves,3,3,H,2,2,H,S Hooper
Southampton,E0,30/12/2018,Wolves,3,3,H,2,3,H,S Hooper
Tottenham,E0,30/01/2019,Wolves,5,3,H,3,1,H,S Attwell
Watford,E0,29/12/2018,Wolves,4,4,H,2,3,H,S Hooper
West Ham,E0,30/03/2019,Wolves,4,4,H,2,3,H,S Attwell
Wolves,E0,29/09/2018,West Ham,4,3,H,3,2,H,S Hooper

In [60]:
pld.groupby('AwayTeam').max()

,Div,Date,HomeTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
AwayTeam,,,,,,,,,,
Arsenal,E0,29/12/2018,Wolves,5,5,H,4,2,H,S Attwell
Bournemouth,E0,30/12/2018,Wolves,5,5,H,3,3,H,S Hooper
Brighton,E0,29/09/2018,Wolves,4,2,H,2,2,H,P Tierney
Burnley,E0,30/09/2018,Wolves,5,3,H,3,2,H,S Attwell
Cardiff,E0,29/12/2018,Wolves,4,2,H,2,1,H,S Hooper
Chelsea,E0,31/03/2019,Wolves,6,4,H,4,2,H,S Attwell
Crystal Palace,E0,30/01/2019,Wolves,4,4,H,3,2,H,S Attwell
Everton,E0,30/03/2019,Wolves,3,5,H,1,3,H,S Attwell
Fulham,E0,29/09/2018,Wolves,4,2,H,3,2,H,S Attwell
Huddersfield,E0,30/03/2019,Wolves,6,3,H,3,2,H,S Attwell
Leicester,E0,30/01/2019,Wolves,4,4,H,3,1,H,S Hooper
Liverpool,E0,29/09/2018,Wolves,2,4,H,1,2,H,S Attwell
Man City,E0,30/12/2018,Wolves,2,5,H,1,3,H,P Tierney
Man United,E0,29/09/2018,Wolves,4,5,H,3,3,H,P Tierney
Newcastle,E0,29/12/2018,Wolves,4,4,H,2,2,H,R East
Southampton,E0,30/03/2019,Wolves,6,3,H,4,2,H,S Attwell
Tottenham,E0,31/03/2019,Wolves,4,6,H,1,3,H,P Tierney
Watford,E0,30/03/2019,Wolves,5,5,H,3,3,H,S Hooper
West Ham,E0,30/12/2018,Wolves,4,4,H,2,2,H,S Hooper
Wolves,E0,30/11/2018,West Ham,3,3,H,2,2,H,S Hooper

In [16]:
pl = pd.DataFrame(pld)
pl

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,A Marriner
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson
...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,M Atkinson
376,E0,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,J Moss
377,E0,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,L Probert
378,E0,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,A Marriner
379,E0,12/05/2019,Watford,West Ham,1,4,A,0,2,A,C Kavanagh

In [17]:
pl

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,A Marriner
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson
...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,M Atkinson
376,E0,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,J Moss
377,E0,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,L Probert
378,E0,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,A Marriner
379,E0,12/05/2019,Watford,West Ham,1,4,A,0,2,A,C Kavanagh

In [18]:
pl.groupby('AwayTeam').mean()

                    FTHG      FTAG      HTHG      HTAG
AwayTeam
Arsenal         1.842105  1.631579  1.052632  0.736842
Bournemouth     2.368421  1.368421  1.210526  0.684211
Brighton        1.684211  0.842105  0.736842  0.368421
Burnley         1.894737  1.105263  0.894737  0.526316
Cardiff         1.631579  0.684211  0.631579  0.157895
Chelsea         1.421053  1.263158  0.578947  0.578947
Crystal Palace  1.578947  1.684211  0.368421  0.631579
Everton         1.315789  1.263158  0.315789  0.578947
Fulham          2.368421  0.631579  1.105263  0.315789
Huddersfield    2.368421  0.631579  1.052632  0.368421
Leicester       1.473684  1.421053  0.789474  0.263158
Liverpool       0.631579  1.789474  0.263158  0.631579
Man City        0.578947  2.000000  0.210526  1.105263
Man United      1.526316  1.684211  0.842105  1.000000
Newcastle       1.210526  0.947368  0.421053  0.684211
Southampton     1.842105  0.947368  0.894737  0.421053
Tottenham       1.210526  1.736842  0.315789  0.947368
Watford         1.631579  1.368421  0.631579  0.578947
West Ham        1.473684  1.052632  0.578947  0.526316
Wolves          1.315789  1.000000  0.684211  0.368421

In [49]:
print('Team which scored highest home goals is: ', pl['HomeTeam'].max())
pl.loc[pl['FTHG'].idxmax(), ['HomeTeam','AwayTeam','FTHG','FTAG']]

Team which scored highest home goals is:  Wolves

HomeTeam        Man City
AwayTeam    Huddersfield
FTHG                   6
FTAG                   1
Name: 18, dtype: object

In [52]:
print('Team which scored highest away goals is: ', pl['AwayTeam'].max())
pl.loc[pl['FTAG'].idxmax(), ['AwayTeam','HomeTeam','FTAG','FTHG']]

Team which scored highest away goals is:  Wolves

AwayTeam    Tottenham
HomeTeam      Everton
FTAG                6
FTHG                2
Name: 179, dtype: object

In [38]:
pl['FTHG'].sum()

596

In [39]:
pl['FTAG'].sum()

476

In [45]:
pl.groupby(['HomeTeam','FTHG']).idxmax().head(10)

                  FTAG  HTHG  HTAG
HomeTeam    FTHG
Arsenal     0        7     7     7
            1      100   366   116
            2      342   220   342
            3       20    20    20
            4      137   137   137
            5      273   273   273
Bournemouth 0      151    80   151
            1      320   101   320
            2       21   140   140
            3      203   203   203

In [47]:
pl.groupby(['AwayTeam','FTAG']).count()

               Div  Date  HomeTeam  FTHG  FTR  HTHG  HTAG  HTR  Referee
AwayTeam FTAG
Arsenal  0       3     3         3     3    3     3     3    3        3
         1       6     6         6     6    6     6     6    6        6
         2       7     7         7     7    7     7     7    7        7
         3       2     2         2     2    2     2     2    2        2
         5       1     1         1     1    1     1     1    1        1
...            ...   ...       ...   ...  ...   ...   ...  ...      ...
West Ham 4       1     1         1     1    1     1     1    1        1
Wolves   0       6     6         6     6    6     6     6    6        6
         1       9     9         9     9    9     9     9    9        9
         2       2     2         2     2    2     2     2    2        2
         3       2     2         2     2    2     2     2    2        2

[91 rows x 9 columns]

In [69]:
print(pl.groupby(pl['HomeTeam']=='Wolves').max())

         Div        Date  HomeTeam  AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
HomeTeam
False     E0  31/03/2019  West Ham    Wolves     6     6   H     4     3   H
True      E0  29/09/2018    Wolves  West Ham     4     3   H     3     2   H

           Referee
HomeTeam
False     S Hooper
True      S Hooper